<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline Login</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
  	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="./css/style.css">
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
  </head>

  <body>
    <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" class="brand-logo center grey darken-3 light-blue-text text-accent-3">Travel Dash</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <div class="row col s12">
      <h5>Login or Register To Access The Travel Dash</h5>
    </div>

    <div class="row col s12">

      <div class="row col s6 grey lighten-2">
        <div class="row col s12">
          <h5>Airline Login</h5>
        </div>
        <form class="login-user row col s12" action="/airline/login" method="get">
          <div class="input-field row col s12">
            <input placeholder="username" id="username" type="text" class="validate" name="username">
            <label for="username_name">Username</label>
          </div>
          <div class="input-field row col s12">
            <input placeholder="password" id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
          <div class="row col s12">
            <input type="Submit" value="Login" class="waves-effect waves-light btn light-blue accent-3">
          </div>
        </form>
      </div>

      <div class="row col s6 grey lighten-3">
        <div class="row col s12">
          <h5>Airline Registration</h5>
        </div>
        <form class="login-user row col s12" action="/airline/create" method="post">
          <div class="input-field row col s12">
            <input placeholder="airline" id="airline" type="text" class="validate" name="airline">
            <label for="airline">Airline</label>
          </div>
          <div class="input-field row col s12">
            <input placeholder="username" id="username" type="text" class="validate" name="username">
            <label for="username_name">Username</label>
          </div>
          <div class="input-field row col s12">
            <input placeholder="password" id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
          <div class="row col s12">
            <input type="submit" value="Create Airline" class="waves-effect waves-light btn light-blue accent-3">
          </div>
        </form>
      </div>

    </div>



    <!-- END Container -->
  </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
    <!-- insert JS script  -->
</html>
