<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline Login</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
  	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="../public/css/style.css">
  </head>

  <body>
    <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" class="brand-logo center grey darken-3 light-blue-text text-accent-3">Travel Dash</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <!-- FORM - CREATE NEW COMPANY  -->
    <div class="row col s12">
      <h5>Airline Login </h5>
    </div>

    <div class="row">
    <form class="login-airline col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="username" id="username" type="text" class="validate">
          <label for="username_name">Username</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="password" id="password" type="text" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn light-blue accent-3"><i class="material-icons left">cloud</i>Login</a>
      </div>
    </form>
  </div>


  <div class="row col s12">
    <h5>Airline Registration</h5>
  </div>

  <div class="row">
  <form class="reg-airline col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="username" id="username" type="text" class="validate">
        <label for="username_name">Username</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="password" id="password" type="text" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn light-blue accent-3"><i class="material-icons left">cloud</i>Register</a>
    </div>
  </form>
</div>



    <!-- END Container -->
  </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
    <!-- insert JS script  -->
</html>
